<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="soapHttpEndpoint" />
                <binding name="soapHttpEndpointHttps">
                    <security mode="Transport" />
                </binding>
                <binding name="soapHttpEndpoint1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.foliosdigitalespac.com/WSTimbrado33/WSCFDI33.svc"
                binding="basicHttpBinding" bindingConfiguration="soapHttpEndpoint"
                contract="WSCFDI.IWSCFDI33" name="soapHttpEndpoint" />
            <endpoint address="https://www.foliosdigitalespac.com/WSTimbrado33/WSCFDI33.svc"
                binding="basicHttpBinding" bindingConfiguration="soapHttpEndpointHttps"
                contract="WSCFDI.IWSCFDI33" name="soapHttpEndpointHttps" />
            <endpoint address="http://app.foliosdigitalespac.com/WSTimbrado33Test/WSCFDI33.svc"
                binding="basicHttpBinding" bindingConfiguration="soapHttpEndpoint1"
                contract="WSPruebas.IWSCFDI33" name="soapHttpEndpoint1" />
        </client>
    </system.serviceModel>
</configuration>